.details_container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.project_image {
  width: 100%;
  max-width: 1000px;
  height: auto;
  border-radius: 12px;
  margin: 1.5rem 0;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  image-rendering: -webkit-optimize-contrast;
}
.description {
  margin: 2rem 0;
  font-size: 1.1rem;
  line-height: 1.7;
}

.techContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-bottom: 2rem;
}

.tech {
  background: #0f172a;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  font-size: 0.85rem;
  border: 1px solid #38bdf8;
}

.actions {
  display: flex;
  gap: 1rem;
}

.github,
.demo {
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

.github {
  background: #1e293b;
  color: white;
}

.demo {
  background: #38bdf8;
  color: #020617;
}