.backToTop svg {
  width: 1.2rem;
  height: 1.2rem;
}

.backToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;

  width: 48px;
  height: 48px;

  background-color: #38bff870;
  color: #020617;

  border: none;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.2rem;
  cursor: pointer;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background-color 0.3s ease;
  z-index: 999;
}

.backToTop:hover {
  transform: translateY(-4px);
  background-color: #0ea5e9;
}

/* Mobile */
@media (max-width: 768px) {
  .backToTop {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}